areaOfcircle.py
bmi.py
datatypes.py
dictionary.py
errorHandling.py
errorsHandling.py
exel.py
for.py
kmtomiles.py
listaikrotka.py
loop.py
lops.py
matplotlib_module.py
modules.py
original.xlsx
requestrs.py
testif.py
text.py
text.txt
text2.txt
time_module.py